<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Cross-device: compatible with TV and phone/tablet. Do not require Leanback or touchscreen. -->
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
</manifest>
