<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- TV-first: do not make touchscreen mandatory for injected patch code. -->
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
</manifest>
